//
// Homepage Address Form
// --------------------------------------------------
#addressform {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 2em;
	h1 {
		margin-bottom: 30px;
		font-size: 2.5em;
	}
}

.locale-select {
	margin-bottom: 50px;
	background-color: $green;
	border-radius: 0;
	position: relative;
	padding: 5px;
	ul {
		@include unstyled;
		@include clearfix;
		position: relative;
		li {
			float: left;
			width: 50%;
			margin: 0;
			a {
				font-size: 18px;
				display: block;
				height: 40px;
				line-height: 40px;
				color: $white;
				transition: all 200ms ease;
				&.active {
					color: $green;
					cursor: default;
				}
			}
		}
	}
	span {
		position: absolute;
		width: 50%;
		height: 40px;
		background-color: $white;
		top: 5px;
		left: 5px;
		transition: all 200ms ease;
		&.state {
			left: 49%;
			transition: all 200ms ease;
		}
	}
} // locale select


// Hide the radios
.locale-radios {
	display: none;
}


// Location Button
#getcoordinates {
	margin: -30px 0 50px 0;
	display: block;
	height: 50px;
	padding: 0;
	line-height: 50px;
	i {
		color: darken($red,25%);
		font-size: 22px;
		margin-right: 5px;
	}
}


// By Address
.by-address {
	background-color: rgba(2,2,28,.45);
	border-radius: 4px;
	padding: 20px;
	text-align: left;
	p {
		margin-bottom: 15px;
	}
	button {
		clear: both;
		
		// .btn-red();
		display: block;
		border: 0;
		height: 50px;
		width: 100%;
	}
	.half {
		margin-bottom: 25px;
	}
}