//
// Homepage Address Form
// --------------------------------------------------
.search-page {
	height: 100%;
	background-color: $blue;
	.alert {
		background-color: $blue-light;
		color: $blue;
		padding: .2em;
	}
}

.address-form-container {
	max-width: 800px;
	padding: 0 1em;
	margin: -2em auto 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	h1 {
		margin-bottom: 1em;
		font-size: 5.5em;
		line-height: .9;
		color: $white;
		font-weight: $black-bold;
		@include smooth;
	}
}

// Address Form
.address-form {
	text-align: left;
	.form-input {
		position: relative;
	}
	button {
		position: absolute;
		right: 5px;
		top: 0;
		border: 0;
		width: 100px;
		height: 80px;
		font-size: 3em;
		color: $white;
		padding: 0;
		background: transparent;
		-webkit-appearance: none;
		cursor: pointer;
		text-align: right;
		transition: all 200ms ease-in-out;
		i {
			transition: all 200ms ease-in-out;
		}
		&:focus {
			outline: none;
		}
		&:hover {
			right: 0;
			transition: all 200ms ease-in-out;
			i {
				transition: all 200ms ease-in-out;
				text-shadow: 10px 10px 15px rgba(0,0,0,.3);
			}
		}
	}
	input[type="text"]{
		padding-right: 120px;
		padding-left: 0;
		height: 80px;
		border-bottom: 1px solid rgba(0,0,0,.2);
		font-size: 2em;
		font-weight: $light;
		background: transparent;
		color: $white;
		&::placeholder {
			color: $white;
		}
	}
}

@media #{$mobile}
{
	.address-form-container h1 {
		margin-bottom: .5em;
		font-size: 3em;
	}
}
