//
// Alerts
// --------------------------------------------------
.alert {
	display: block;
	background-color: $white;
	color: $black;
	margin-bottom: 2em;
	padding: .5em;
	border-left: 4px solid $green;
	line-height: 1.2;
}

.alert-error {
	border-left-color: $red;
	color: $red;
}