//
// Alerts
// --------------------------------------------------
.alert {
	display: block;
	color: $green;
	margin-bottom: 1em;
	line-height: 1.2;
	font-size: 2em;
	font-weight: $light;
	@include smooth;
}

.alert-error {
	color: $red;
}