//
// Primary Navigation
// --------------------------------------------------
nav ul {
	@include unstyled;
	padding: 1em 0 0 0;
	li {
		display: inline-block;
		margin: 0;
		margin-left: 1em;
		a {
			display: block;
			font-weight: $light;
			color: $white;
		}
	}
}

.data-sources {
	position: fixed;
	bottom: 0px;
	text-align: right;
	width: 100%;
	padding: 5px 20px 5px 0;
	font-weight: $light;
	background-color: $gray-light;
	font-size: .8em;
	z-index: 5;
}

@media #{$mobile}
{
	.data-sources {
		text-align: center;
		line-height: 1.4;
	}
}